name: Dev Deploy Workflow

on:
  push:
    branches: [ dev ]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: Development

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build with Gradle
        run: |
          chmod +x gradlew
          ./gradlew clean build -x test

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/looky-backend:dev

      - name: EC2 Deploy
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          password: ${{ secrets.EC2_PASSWORD }}
          port: 22
          envs: ENV_FILE
          script: |
            echo "$ENV_FILE" | base64 -d > .env.dev
            
            docker network create looky-net || true
            
            docker pull ${{ secrets.DOCKERHUB_USERNAME }}/looky-backend:dev
            
            docker stop looky-dev || true
            docker rm looky-dev || true
            
            docker run -d --name looky-dev \
              --network looky-net \
              -p 8080:8080 \
              --env-file .env.dev \
              ${{ secrets.DOCKERHUB_USERNAME }}/looky-backend:dev
            
            sudo docker image prune -f
        env:
          ENV_FILE: ${{ secrets.ENV_FILE }}